body {
	background-image: url(gambar5.jpg);
	background-size: cover;
}

h1 {
	margin: 0px 50px 75px 100px ;
	font-size: 50px;
	color: white ;
	font-style: oblique;
	text-align: center;
	text-decoration: underline;
	border-style: outset;
	background-color: #7a4be8 ;
	padding-top: 25px;
	padding-right: 30px;
	padding-bottom: 25px;
	padding-left: 50px;
}

h2 {
	margin: 5px 50px 75px 100px ;
	text-align: center;
	padding-top: 5px;
	padding-right: 30px;
	padding-bottom: 5px;
	padding-left: 50px;
}

table {
	background-color: #737fff ;
	text-align: center; 
	color: blue ;
}

button {
	text-align: center;
	margin : 4px 2px;
} 	

.tombol1 {background-color: #4CAF50 }
.tombol2 {background-color: #008CBA }


