body {
	background-image: url(foto1.jpg);
	background-size: cover ;
}

header {
 	padding: 1px ;
 	color: blue ;
 	padding-left: 3px
 }

ul {
	list-style-type: none;
	float: right;
	margin-top: 20px ;
}

ul li {
	display: inline-block;
	background-color: white;
}

ul li a {
	text-decoration: none;
	color: gray;
	padding: 5px 20px;
	border : 1px solid transparent;
	transition: 0,5s ;
}

ul li a:hover {
	background-color: white ;
	color: black ;
}

ul li.active a {
	background-color: white ;
	color: black ;
}

.main {
	max-width: 1200px;
	margin: auto;
}

.tittle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);-
}

.tittle h1 {
	color: gray ;
	background-color: white ;
	font-size: 66px;
	text-decoration: underline;
	font-style: oblique;
	padding-left: 25px ;
	padding-right: 25px ;
}

.button {
	font-size: 20px ;
	font-family: "Courier New" ;
	position: absolute;
	top: 65% ;
	left: 50% ;
	color: white ;
	transform: translate(-50%, -50%);

}

.btn {
	padding: 10px 20px ;
	color: white ;
	text-decoration: "none" ;
	background-color: gray ;
	transition: 0.6s ;
	border-style: dotted;

}

.btn.hover {
	background-color: black ;
	color: pink ;


}